#p1 {
    display: flex;
    /* flex-direction: row */
    align-content: space-around;
    justify-content: space-around;

}
#p1-1  {
   
    background-color: #cccc;
    flex: 1;
    
}

#p1-1 > h1 {
    line-height: 16px;
}
#p1-2  {
    width: 200px;
    height: 200px;
    display: flex;
    /* flex: 1; */
    border: 1px #73d6ba solid;
    justify-content: space-around ;
    background-color: #38c557;

    
}

#p1-2 > h2 {
    font-size: 20px;
    color: white;
    text-shadow: 2px 1px #cccccc;
    display: inline-block;
    align-self: center;
}
footer {
    display:flex;
    background-color: rgb(73, 218, 121);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

footer h3 , h2 {
    color: white;
    font-weight: normal;
    font-size: 20px;
}
footer p {
    color: white;
}

footer h2:first-child,h3:first-child{
    color: #2b2b2b;
    clip: auto;
    font-weight: bold;
}
footer > div {
    margin: 16px 0;
    color: #2b2b2b;
    flex : 0 0 30%  ;
}


#fp-1{
    display: flex;
    align-items: center;
    justify-content: center
}
#fp-1 h1{
    font-size: 4em;;
}
#fp-4 {
    margin: 0 3.5em
}
a {
    line-height: 1.5em;
    text-decoration: none;
    color: #652dff;
    display: block;
    font-size: 20px;
}
.container {
    margin: 50px;
    display: flex;
    height: 51vh
}
.p1  {
    flex: 1;
}
.p2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.p2 > img {
    width: 70%;
    /* height: 100%; */
    
}

@media (max-width : 991px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }
    .p1 {
       text-align: center;
    }


    
}
