#p1 {
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    /* align-content: flex-end; */
    /* justify-content: flex-start; */
   }
   #p1-1 {
       flex: 1; 
       /* align-self: center; */
   }
   #p1-2 {
       flex: 1;
       /* align-self: stretch; */
   }
   
   #p1-3 {
       flex: 1;
   }
   #p1 div  {
       border: 1px solid red;
        margin: 2em;
   }
   /* .container {
       margin: 3.5em 0 ;
       padding: 0;
   } */
   #p1 >div {
       padding: 1em;
   } 

